{% extends 'base.html' %}
{% load static %}
{% block title %}Подробнее{% endblock %}

{% block content %}

<div class="w-100">
    <div class="page-titles w-100">
        <div class="carousel-item active w-100" style="height: 300px;">
            <img src="{% static 'img/contact.png' %}" class="w-100" alt="Snow" style="height: 300px;">
            <div class="carousel-caption d-none d-md-block">
                <h1>{{ product.name }}</h1>
                <div class="breadcrumbs">
                    <a class="text-light" href="{% url 'home' %}">Главная</a> <span> / </span> О компании
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container " style="margin-top: 50px;}">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Марка</td>
            <td>Цена руб./м3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="section-main-content__post-image">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
    </div>
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

<style>

    .photo{
    padding: 60px 0px;
    }

    .article-content{
    display: flex;
    padding: 60px 0px;
    color: black;
    text-align: left;
    width: 900px;
    }
    .carousel-indicators{
    display: flex;
    margin: 65px;
    }
    .breadcrumbs{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 300;
    color: #ccc;
    }


</style>
{% endblock %}


