{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Заказ{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
<center>
<h1 class="mt-4">Благодарим Вас за заказ, скоро с вами свяжутся по телефону для уточнения данных доставки</h1>
    <h3> Номер вашего заказа: {{ order.pk }}.</h3>
    <a class="btn btn-warning w-50" href="{% url 'home' %}">Вернуться на главную страницу</a>
    </center>
</div>
{% else %}
    <h3><a href="{% url 'login' %}">Авторизуйтесь</a>, чтобы добавить в корзину</h3>
    {% endif %}
{% endblock %}